<% content_for(:title, @channel.title) %>
<% breadcrumb(["channels", channels_path], @channel.title) %>
<% content_for(:breadcrumb_actions) do %>
  <%= render(BracketedLinkComponent.new(label: "edit", href: edit_channel_path(@channel))) %>
  <%= render(BracketedLinkComponent.new(label: "delete", href: "/deletions?type=channel&ids=#{@channel.id}&ref=#{CGI.escape(request.fullpath)}", destructive: true)) %>
<% end %>

<div data-controller="add-pane">
  <div style="display: flex; align-items: baseline; gap: 8px; margin-bottom: 6px;">
    <h1><%= @channel.title %></h1>
    <% if @available_channels.any? %>
      <a href="#" class="bracketed" data-action="click->add-pane#open">[ <span class="bl">+</span> ]</a>
    <% end %>
  </div>

  <%= render "channels/pane", channel: @channel %>

  <% if @available_channels.any? %>
    <%= render "channels/add_pane_dialog", available_channels: @available_channels, current_ids: @channel.id.to_s %>
  <% end %>
</div>
