<a href="<%= href %>" class="filter-chip" data-keyboard-filter-chip="<%= @label %>"<% if turbo_frame_attr %> data-turbo-frame="<%= turbo_frame_attr %>" data-turbo-action="advance"<% end %>><span class="md-check-static"><%= checked? ? "[x]" : "[ ]" %></span> <span class="md-check-static-label"><%= @label %></span></a>
