<div style="margin-bottom: 8px;">
  <%= @form.label @field, @label, style: "display: block; margin-bottom: 2px; font-weight: bold;" %>
  <% case @type %>
  <% when :text_field %>
    <%= @form.text_field @field, style: "width: 100%;#{error_style}" %>
  <% when :text_area %>
    <%= @form.text_area @field, rows: @rows || 4, style: "width: 100%;#{error_style}" %>
  <% when :select %>
    <%= @form.select @field, @options, {}, style: "width: 100%;#{error_style}" %>
  <% when :collection_select %>
    <%= @form.collection_select @field, @collection, :id, :title, { prompt: @prompt }, style: "width: 100%;#{error_style}" %>
  <% end %>
  <% errors.each do |msg| %>
    <span class="text-danger" style="font-size: 12px;"><%= msg %></span>
  <% end %>
</div>
