<span class="<%= badge_classes %>"
      tabindex="0"
      aria-describedby="<%= tooltip_id %>"
      data-tooltip="<%= tooltip_text %>"><%= label %><span id="<%= tooltip_id %>" role="tooltip" class="sr-only"><%= tooltip_text %></span></span>
