<div class="pito-footage-snippet" data-controller="pito--clipboard" data-pito--clipboard-text-value="<%= command %>">
  <div class="pito-footage-snippet__hint text-fg-dim"><span data-pito-ts-slot></span><%= hint %></div>
  <div class="pito-footage-snippet__bar">
    <pre class="pito-footage-snippet__code"><%= command %></pre>
    <button type="button" class="pito-footage-snippet__copy text-cyan" data-action="click->pito--clipboard#copy" aria-label="<%= aria_label %>">
      <span data-pito--clipboard-target="feedback"><%= copy_label %></span>
    </button>
  </div>
</div>
