<span class="sb-section"
      data-controller="tui-breadcrumb"
      data-tui-status-bar-target="section"
      data-tui-breadcrumb-screen-value="<%= screen %>"><% if sub_panel_visible? %><span class="sb-section__panel"><%= label %></span><span class="sb-section__sub-panel-paren"><%= paren_open %></span><span class="sb-section__sub-panel"><%= sub_panel %></span><span class="sb-section__sub-panel-paren"><%= paren_close %></span><% else %><%= label %><% end %></span>
