<% if renders_as_link? %>
  <a class="tui-checkbox <%= 'tui-checkbox--checked' if checked %>" href="<%= href %>">
    <span class="tui-checkbox__box">[<%= glyph %>]</span>
    <% if label %><span class="tui-checkbox__label"> <%= label %></span><% end %>
  </a>
<% elsif renders_as_form_input? %>
  <label class="tui-checkbox <%= 'tui-checkbox--checked' if checked %>">
    <input type="hidden" name="<%= name %>" value="no">
    <input type="checkbox" name="<%= name %>" value="<%= value %>" <%= 'checked' if checked %> class="tui-checkbox__input">
    <span class="tui-checkbox__box">[<%= glyph %>]</span>
    <% if label %><span class="tui-checkbox__label"> <%= label %></span><% end %>
  </label>
<% else %>
  <span class="tui-checkbox <%= 'tui-checkbox--checked' if checked %>">
    <span class="tui-checkbox__box">[<%= glyph %>]</span>
    <% if label %><span class="tui-checkbox__label"> <%= label %></span><% end %>
  </span>
<% end %>
