<dialog id="tui-help-overlay"
        class="tui-help-overlay tui-dialog-frame"
        data-controller="tui-help-overlay">
  <span class="tui-dialog-frame__title-left"><%= t("help.overlay.title") %></span>
  <span class="tui-dialog-frame__title-right">[<%= t("keys.esc") %>] <%= t("help.overlay.esc_close_suffix") %></span>
  <div class="tui-help-overlay__panel">
    <div class="tui-help-overlay__groups">
      <% GROUPS.each do |group| %>
        <section class="tui-help-overlay__group">
          <h3 class="tui-help-overlay__group-title"><%= t("help.overlay.groups.#{group[:group_key]}.title") %></h3>
          <dl class="tui-help-overlay__keys">
            <% group[:items].each do |item| %>
              <dt class="tui-help-overlay__key">[<%= item[:key] %>]</dt>
              <dd class="tui-help-overlay__label"><%= t("help.overlay.groups.#{group[:group_key]}.items.#{item[:label_key]}") %></dd>
            <% end %>
          </dl>
        </section>
      <% end %>
    </div>
  </div>
</dialog>
