<span class="sb-sidekiq" data-tui-status-bar-target="sidekiq">
  <span class="<%= cell_class_for("b") %>" data-tui-status-bar-target="<%= target_for("b") %>">b<%= value_for("b") %></span>
  <span class="<%= cell_class_for("e") %>" data-tui-status-bar-target="<%= target_for("e") %>">e<%= value_for("e") %></span>
  <span class="<%= cell_class_for("r") %>" data-tui-status-bar-target="<%= target_for("r") %>">r<%= value_for("r") %></span>
</span>
