<div class="<%= sub_panel_class %>" data-tui-cursor-target="sub-panel" data-panel-title="<%= title %>">
  <span class="pito-sub-panel__title"><%= title %></span>
  <% if actions? %>
    <span class="pito-sub-panel__actions"><%= actions %></span>
  <% end %>
  <%= content %>
</div>
