<div class="pito-analytics-scalars">
  <% if loading? %>
    <% GLANCE_METRICS.each do |metric| %>
      <div class="pito-analytics-scalars__cell"<% if token %> id="<%= token %>__metric_<%= metric[:key] %>"<% end %>>
        <%= render(Pito::Analytics::Slots::Compact.new(name: metric_label(metric[:label]), loading: true)) %>
      </div>
    <% end %>
  <% else %>
    <% cells.each do |cell| %>
      <div class="pito-analytics-scalars__cell"<% if token && cell[:key] %> id="<%= token %>__metric_<%= cell[:key] %>"<% end %>>
        <%= render(Pito::Analytics::Slots::Compact.new(name: cell[:label], series: cell[:series])) { |c| c.with_scalar { raw(cell[:value].to_s) } } %>
      </div>
    <% end %>
  <% end %>
</div>
