<%# Pito::GamesReleasing::ShelfTileComponent template.
    `data-tui-focusable` marks the tile as a focus stop. j/k on the
    home screen advances the focus cursor in DOM order. %>
<a class="upcoming-tile"
   href="<%= game_path %>"
   data-tui-focusable="<%= focusable_key %>"
   data-turbo-frame="_top"
   title="<%= game.title %>">
  <div class="upcoming-tile__cover-wrap">
    <%= render Game::CoverComponent.new(game: game, variant: :shelf_fill, link_to_show: false) %>
  </div>
  <div class="upcoming-tile__meta">
    <span class="upcoming-tile__title"><%= game.title %></span>
    <% if time_until_release %>
      <span class="upcoming-tile__when"><%= time_until_release %></span>
    <% end %>
  </div>
</a>
