<dialog id="<%= dialog_id %>"
        class="omnisearch-modal"
        data-controller="omnisearch-modal"
        data-omnisearch-modal-url-value="<%= url %>"
        data-omnisearch-modal-min-chars-value="1"
        data-omnisearch-modal-frame-id-value="<%= results_frame_id %>"
        data-action="click->omnisearch-modal#clickOutside keydown->omnisearch-modal#keydown">
  <div class="omnisearch-modal-inner">
    <input type="search"
           class="omnisearch-input"
           placeholder="<%= placeholder %>"
           autocomplete="off"
           data-omnisearch-modal-target="input"
           data-action="input->omnisearch-modal#search keydown.enter->omnisearch-modal#search" />
    <div class="omnisearch-results" style="margin-top: 16px;">
      <%= helpers.turbo_frame_tag results_frame_id %>
    </div>
    <div class="modal-footer">
      <%= render(BracketedMutedLinkComponent.new(
            label: t("common.actions.close"),
            href: "#",
            data: { action: "click->omnisearch-modal#close" }
          )) %>
    </div>
  </div>
</dialog>
