<dialog id="<%= dialog_id %>"
        class="omnisearch-modal"
        data-controller="omnisearch-modal"
        data-omnisearch-modal-url-value="<%= url %>"
        data-omnisearch-modal-min-chars-value="1"
        data-omnisearch-modal-frame-id-value="<%= results_frame_id %>"
        data-action="click->omnisearch-modal#clickOutside keydown->omnisearch-modal#keydown">
  <div class="omnisearch-modal-inner">
    <% if render_recommendations? %>
      <section class="omnisearch-recommendations" aria-label="similar to this bundle">
        <h3 class="omnisearch-section-heading">similar to your bundle</h3>
        <div class="shelf-row" data-controller="steam-shelf">
          <% recommendations.each do |game| %>
            <%= render Game::GenreTileComponent.new(
                  game: game,
                  link_to: nil,
                  data: {
                    controller: "bundle-add-trigger",
                    "bundle-add-trigger-bundle-id-value": bundle.id,
                    "bundle-add-trigger-game-id-value": game.id,
                    action: "click->bundle-add-trigger#add"
                  }
                ) %>
          <% end %>
        </div>
      </section>
    <% end %>
    <input type="search"
           class="omnisearch-input"
           placeholder="<%= placeholder %>"
           autocomplete="off"
           data-omnisearch-modal-target="input"
           data-action="input->omnisearch-modal#search keydown.enter->omnisearch-modal#search" />
    <div class="omnisearch-results" style="margin-top: 16px;">
      <%= helpers.turbo_frame_tag results_frame_id %>
    </div>
    <div class="modal-footer">
      <%= render(BracketedMutedLinkComponent.new(
            label: t("common.actions.close"),
            href: "#",
            data: { action: "click->omnisearch-modal#close" }
          )) %>
    </div>
  </div>
</dialog>
