<!DOCTYPE html>
<html lang="en" data-theme="tokyo-night">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pito</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-root text-fg font-mono">
  <%= yield %>
</body>
</html>
